:host {
	height: 100%;
}

main {
	height: 100%;
	overflow-y: auto;
	padding:0;
	-webkit-background-size: cover;
	background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
  background-size: cover;
  padding-top: 50px;
}

mdb-card {
  margin: 0;
}

footer {
	margin-top: 20px;
}
