/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
	height: 100%;
	width: 100%;
}

.c-card-ct {
	margin: 20px;
}

.c-card {
	margin-bottom: 20px;
}

.card-title {
	padding: 10px 0 0 20px;
	color: white;
	font-weight: bold;
}